extends layout

block content
  div(class='search-view #{pageStyle} full')
    div(class='search-bar-area')
      if pageStyle === 'ingredients-page'
        div(class='ingredients-search-container')
          input(class='search-bar #{searchType}', type='text', placeholder='#{placeholder}')
          div(class='ingredients-items')
      else
        input(class='search-bar #{searchType}', type='text', placeholder='#{placeholder}')
    div(class='search-results scrunch')
      if pageStyle === 'my-recipes-page'
        button(class = 'addRecipeButton') Add Recipe
          div +
      each elem in searchResults
        div(class='recipe-card' id='recipe-#{elem.id}')
          div(class='card-picture')
            img(src='#{elem.picture}' style='height: 100%; width: 100%;')
          div(class='card-title') #{elem.title}
          div(class='card-duration') #{elem.duration}
          div(class='card-difficulty') #{elem.difficulty}
